# Minimal .gitignore for aegis see full templates:
# https://github.com/github/gitignore/blob/main/Go.gitignore
#
# Build artifacts
*.exe
*.outs

# Test binary, built with `go test -c`
*.test

# Go build system artifacts
go.sum
go.work

# Output
out/**
!out/typescript/
!out/typescript/**

# IDE-specific folders (JetBrains family: GoLand, IntelliJ, etc.)
.idea/

# Windows thumbnail cache
Thumbs.db

# Node.js
node_modules/
pnpm*
